---
# Only the main Sass file needs front matter (the dashes are enough)
---

// $body-color: red;
// $background-color: green;
// $text-color: yellow;
$masthead-link-color: black;
$masthead-link-color-hover: black;
// $muted-text-color: pink;
// $border-color: orange;
$primary-color: red;
// $link-color: darkblue;

//


.pz-logo {
    margin-right: 0.4em;
    width: 3em;
    height: auto;
}

.technion-logo {
    float: inline-end; 
    margin: 1em;
    width: 5em;
}

.page__footer footer {
    display: inline-block;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
